body {
  font-family: "Montserrat", sans-serif;
  background: #f2f3f4;
  margin: 2px;
  position: relative;
  outline: 2px dashed rgb(110, 114, 132);
}

.container {
  max-width: 1215px;
  padding: 0 15px;
  margin: 0 auto;
}
.content {
  padding-top: 20px;
}
