.header {
  background-color: #fff;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    z-index: 3;
  }
  .header__top {
    background-color: #f2f3f4;
    padding: 5px 0;
    border-bottom: 2px dashed rgb(110, 114, 132);
  }
  .header-top {
    &__items {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__location {
      display: flex;
      flex-direction: row-reverse;
      column-gap: 10px;
    }
    &__icon {
      width: 5px;
      height: 10px;
      color: blue;
    }
    .material-symbols-outlined {
      font-size: 14px;
    }
    &__city {
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
      position: relative;
      color: rgb(110, 114, 132);
    }

    &__list {
      display: flex;
      gap: 10px 20px;
    }

    &__link {
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
      vertical-align: middle;
      transition: all 1s ease;
      color: rgb(110, 114, 132);
      &:hover {
        color: #f04716;
        text-shadow: 0px 0px 2px #f04716;
      }
    }

    &__phones {
      display: flex;
      align-items: center;
      gap: 10px 20px;
    }
    &__phones > :first-child {
      margin-right: -15px;
    }
    &__number {
      color: rgb(54, 56, 63);
      font-size: 15px;
      font-weight: 500;
      font-family: Montserrat;
    }
    &__clock {
      color: rgb(10, 78, 203);
    }
    &__get {
      font-size: 13px;
      font-weight: 500;
      color: rgb(71, 136, 255);
    }
  }
  //-------------------------------------
  .header-center {
    padding-top: 40px;
    &__items {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
    .container {
      position: relative;
    }
    &__item {
      &:first-child {
        flex: 0 1 25%;
      }
      &:last-child {
        flex: 1 1 75%;
        display: flex;
        justify-content: end;
        column-gap: 10px;
      }
    }

    &__logo {
      position: relative;
      z-index: 3;
      img {
        width: 220px;
        height: 50px;
      }
    }

    &__input {
      display: flex;
      flex: 0 1 520px;
    }

    &__search {
      height: 45px;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid rgb(222, 223, 231);
      border-radius: 12px;
      outline: none;
      padding-left: 15px;
      &::placeholder {
        padding-left: 30px;
      }
      background: url("../img/header/search.png") no-repeat 15px;
      &:focus {
        background: none;
      }
    }

    &__likes {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      min-width: 45px;
      height: 45px;
      border: none;
      background: rgb(255, 255, 255);
      border-radius: 12px;
      border: 1px solid rgb(222, 223, 231);
    }

    &__diagram {
      border: 1px solid rgb(222, 223, 231);
      border-radius: 12px;
      background: rgb(255, 255, 255);
      min-width: 45px;
      height: 45px;
      position: relative;
      padding: 0;

      span {
        position: absolute;
        width: 6px;
        height: 9px;
        left: 9px;
        top: 21px;
        border: 1px solid rgb(110, 114, 132);
        border-radius: 5px;
        &::before {
          content: "";
          position: absolute;
          width: 6px;
          height: 14px;
          left: 18px;
          bottom: -1px;
          border: 1px solid rgb(110, 114, 132);
          border-radius: 5px;
        }
        &::after {
          content: "";
          position: absolute;
          width: 6px;
          height: 20px;
          border: 1px solid rgb(110, 114, 132);
          border-radius: 5px;
          left: 8px;
          bottom: -1px;
        }
      }
    }

    &__shopping {
      height: 45px;
      padding: 0 15px;
      box-sizing: border-box;
      border-radius: 12px;
      border: 1px solid rgb(222, 223, 231);
      background: rgb(255, 255, 255);
      color: rgb(110, 114, 132);
      font-family: Montserrat;
      font-size: 13px;
      font-weight: 500;
      display: flex;
      align-items: center;
      column-gap: 10px;
      min-width: 140px;
    }
    &__burger {
      z-index: 3;
      display: none;
      position: absolute;
      right: 40px;
      top: 0;
      width: 40px;
      height: 40px;
      border: 1px solid rgb(222, 223, 231);
      border-radius: 12px;
      span {
        position: absolute;
        width: 16px;
        height: 1px;
        left: 12px;
        top: 13px;
        border-radius: 2px;
        background: rgb(10, 78, 203);
        &::before {
          content: "";
          position: absolute;
          width: 16px;
          height: 1px;
          left: 0;
          bottom: -5px;
          border-radius: 2px;
          background: rgb(10, 78, 203);
        }
        &::after {
          content: "";
          position: absolute;
          width: 16px;
          height: 1px;
          left: 0;
          top: 10px;
          border-radius: 2px;
          background: rgb(10, 78, 203);
        }
      }
    }
    .header-center-mobile {
      position: fixed;
      display: none;
      height: 535px;
      width: 100%;
      left: 0;
      top: -620px;
      margin-top: 80px;
      background: rgb(29, 30, 34);
      transition: all 1s ease;
      z-index: 2;
      &__link {
        color: rgb(222, 223, 231);
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 400;
      }
      &__menu {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 20px;
      }
      &__element {
        padding-bottom: 20px;
      }
      &__element:nth-child(8) {
        padding-top: 20px;
        border-top: 1px solid rgb(54, 56, 63);
      }
      &__element:nth-child(10) {
        padding-top: 20px;
        border-top: 1px solid rgb(54, 56, 63);
      }
    }
    .header-center-mobile.active {
      top: 0;
    }
  }

  //------------------------------

  .header-bottom {
    height: 50px;
    margin-top: 40px;
    position: relative;
    background: rgb(10, 78, 203);

    &__items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
    }
    &__menu {
      align-items: center;
    }
    &__item {
      height: 100%;
      display: flex;
      align-items: center;
    }
    &__catalogs {
      padding-left: 30px;
    }
    &__link,
    &__link-discount {
      transition: all 1s ease;
      &:hover {
        opacity: 0.9;
      }
    }
    .catalog {
      position: relative;
      padding-right: 16px;
      white-space: nowrap;
      &__btn {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 16px;
        color: #fff;
        transition: transform 0.3s ease;
      }
      &__burger {
        cursor: pointer;
        position: absolute;
        left: -15px;
        top: 5px;
        width: 10px;
        height: 16px;
        span {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 1px;
          background-color: rgb(255, 255, 255);
          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 6px;
            width: 100%;
            height: 1px;
            background-color: rgb(255, 255, 255);
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 3px;
            width: 100%;
            height: 1px;
            background-color: rgb(255, 255, 255);
          }
        }
      }
      &__menu {
        box-sizing: border-box;
        padding-top: 20px;
        visibility: hidden;
        position: absolute;
        left: -30px;
        top: 33px;
        height: 590px;
        width: 280px;
        background: rgb(29, 30, 34);
        z-index: 2;
      }
      &__link {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        padding-left: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .header-bottom-link {
        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: -20px;
          left: 0;
          right: 0;
        }
      }
      &__element {
        height: 40px;
        position: relative;
        cursor: pointer;
        transition: height 2s ease;
        &:hover {
          height: 10%;
          background: linear-gradient(
            90deg,
            rgb(29, 30, 34),
            rgb(10, 78, 203) 103.704%
          );
        }
      }
      &__element:hover {
        .catalog__arrow-1 {
          right: 15px;
        }
      }
      &__element:nth-child(1) .catalog-menu-sub {
        top: -20px;
      }
      &__element:nth-child(2) .catalog-menu-sub {
        top: -60px;
      }
      &__element:nth-child(4) .catalog-menu-sub {
        top: -140px;
      }
      &__arrow-1 {
        color: #fff;
        position: absolute;
        right: 20px;
        top: 50%;
        font-size: 20px;
        transform: translateY(-50%) rotate(-90deg);
      }
      .open-sub-menu {
        right: 15px;
      }
      .catalog-menu-sub {
        z-index: 1;
        display: none;
        box-sizing: border-box;
        padding-top: 20px;
        position: absolute;
        width: 320px;
        height: 590px;
        right: -320px;
        background: rgb(54, 56, 63);
        &__element {
          height: 40px;
          position: relative;
          cursor: pointer;
          transition: height 2s ease;
          &:hover {
            height: 10%;
            background: linear-gradient(
              90deg,
              rgb(29, 30, 34),
              rgb(10, 78, 203) 103.704%
            );
          }
        }
        &__btn {
          display: none;
          position: absolute;
          left: -40px;
          top: 0;
          width: 40px;
          height: 40px;
        }
        &__arrow {
          transform: rotate(90deg);
        }
        &__link {
          color: #fff;
          font-size: 15px;
          font-weight: 400;
          padding-left: 20px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          white-space: pre-wrap;
          padding-right: 35px;
        }
      }
      .open-sub-sub-menu {
        display: block;
      }
      .catalog-menu-sub-sub {
        display: none;
        box-sizing: border-box;
        padding: 35px 20px 0 80px;
        position: absolute;
        left: 320px;
        top: -20px;
        width: 100vw;
        max-width: 600px;
        height: 590px;
        background: rgb(244, 245, 248);
        &__title {
          color: rgb(54, 56, 63);
          font-family: Montserrat;
          font-size: 31px;
          font-weight: 700;
          line-height: 38px;
          padding-bottom: 15px;
        }

        &__element {
          padding-bottom: 15px;
        }
        &__arrow {
          opacity: 0;
          color: #0a4ecb;
          position: absolute;
          top: 50%;
          right: -20px;
          transform: rotate(-90deg) translate(8px, 10px) translateY(-50%);
          font-size: 20px;
        }
        &__btn {
          display: none;
        }
        &__link {
          position: relative;
          font-size: 15px;
          font-weight: 400;
          line-height: 34px;
          color: rgb(110, 114, 132);

          &:hover {
            color: #0a4ecb;
            transition: all 1s ease;
          }
          &:hover .catalog-menu-sub-sub__arrow {
            transition: all 1s ease;
            opacity: 1;
          }
        }
      }
    }

    .catalog.open .catalog__menu {
      visibility: visible;
    }
    .catalog.open .catalog__btn {
      transform: rotate(180deg);
    }
    &__menu {
      display: flex;
      column-gap: 50px;
    }

    &__element {
    }

    &__link {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
    }

    &__products {
    }

    &__discount {
      display: flex;
      justify-content: end;
    }

    &__link-discount {
      font-size: 14px;
      font-weight: 500;
      color: #fffa2f;
    }
  }
}
//"made catalog menu and catalog menu sub and catalog-menu-sub-sub
