@media (max-width: 1400px) {
  .walls {
    .container {
      &::after {
        display: none;
      }
    }
    .carousel {
      &__btn-next {
        right: -25px;
      }
      &__btn-prev {
        left: -25px;
      }
    }
  }
  .weightlifting {
    .container {
      &::after {
        display: none;
      }
    }
  }
  .complexes {
    .container {
      &::after {
        display: none;
      }
    }
  }
}
@media (max-width: 1250px) {
  .header {
    .header-bottom {
      .catalog {
        .catalog-menu-sub-sub {
          max-width: 370px;
          padding: 35px 20px 0 20px;
          &__title {
            font-size: 24px;
          }
        }
      }
    }
  }
  .banner {
    &__elements {
      justify-content: center;
      flex-direction: row;
    }
  }
  .walls {
    .container {
      &::after {
        display: none;
      }
    }
    .carousel {
      &__btn-next {
        right: 0px;
      }
      &__btn-prev {
        left: 0px;
      }
    }
  }
  .complexes {
    .carousel {
      &__btn-prev {
        left: 0px;
      }
      &__btn-next {
        right: 0px;
      }
    }
  }
  .weightlifting {
    .carousel {
      &__btn-prev {
        left: 0px;
      }
      &__btn-next {
        right: 0px;
      }
    }
  }
}
@media (min-width: 992px) {
  .header {
    .header-bottom {
      .catalog {
        &__element:hover .catalog-menu-sub {
          display: block;
        }
        .catalog-menu-sub {
          &__element:hover .catalog-menu-sub-sub {
            display: block;
          }
        }
      }
      .catalog:hover .catalog__menu {
        visibility: visible;
      }
      .catalog:hover .catalog__btn {
        transform: rotate(180deg);
      }
    }
  }
}
@media (max-width: 992px) {
  body.hidden {
    overflow: hidden;
  }
  .header {
    .header-top {
      height: auto;
      &__items {
      }
      &__location {
        padding-right: 20px;
      }

      &__list {
        flex-wrap: wrap;
      }
      &__phones {
        flex-wrap: wrap;
      }
    }

    .header-bottom {
      &__items {
        column-gap: 20px;
      }
      &__item {
        flex: 0 1 33.333%;
      }
      .catalog {
        .catalog-menu-sub-sub {
          left: 0;
          &__btn {
            display: block;
          }
          &__title {
            font-size: 20px;
          }
        }
        .catalog-menu-sub.visible {
          display: block;
        }
        .catalog-menu-sub-sub {
          z-index: 2;
        }
        .catalog-menu-sub-sub.visible {
          display: block;
        }
      }
    }
  }
  .banner {
    &__items {
    }
  }
  .catalogs {
    .container {
      outline: none;
    }
  }
  .about {
    .container {
      outline: none;
    }
    .items-about {
      justify-content: center;
    }
    &__elements {
      flex-wrap: wrap;
      row-gap: 20px;
    }
    &__element {
      flex: 0 1 100%;
      .slider-container {
        width: 100%;
      }
      .slider {
        img {
          object-fit: cover;
        }
      }
      .dots {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .deliverypay {
    .container {
      outline: none;
    }
  }
  .footer {
    &__items {
      justify-content: center;
      gap: 20px 20px;
    }
    .item-footer-2 {
      &__body {
        display: flex;
        gap: 20px 20px;
      }
    }
    .item-footer-1 {
      padding-right: 0;
    }
    .item-footer-3 {
      padding-left: 0px;
    }
  }
}
@media (max-width: 768px) {
  body {
    outline: 2px dashed rgb(110, 114, 132);
  }
  .header {
    &::before {
      height: 80px;
    }
    .header__top {
      display: none;
    }
    .header-center {
      padding-top: 15px;
      &__items {
        display: block;
      }

      &__item:nth-child(2) {
        display: none;
      }
      &__burger {
        display: block;
      }

      .header-center-mobile {
        display: block;
        overflow-y: hidden;
      }
    }
    .header-bottom {
      height: 35px;
      margin-top: 15px;
      &__items {
        justify-content: center;
        height: 35px;
      }
      &__item {
        flex: 1 1 100%;
        white-space: nowrap;
      }

      &__item:nth-child(2) {
        display: none;
      }
      &__item:nth-child(3) {
        display: none;
      }
      .catalog {
        &__element:hover {
          .catalog__arrow-1 {
            right: 60px;
          }
        }
        &__menu {
          top: 25px;
          left: -45px;
          width: 375px;
          padding-left: 70px;
        }
        &__arrow-1 {
          right: 70px;
        }
        .catalog-menu-sub {
          z-index: 1;
          width: 335px;
          right: 0;
          &__btn {
            display: block;
          }
          &__element {
            &:hover {
              .catalog__arrow-1 {
                right: 15px;
              }
            }
          }
          .catalog__arrow-1 {
            right: 35px;
          }
        }
      }
      .catalog.open .catalog__btn {
        transform: rotate(180deg);
      }
    }
  }
  .banner {
    .container {
      padding: 0;
    }
    &__title {
      font-size: 22px;
      line-height: 30px;
    }
    &__text {
      font-size: 15px;
      line-height: 24px;
      padding-top: 10px;
      padding-bottom: 30px;
      display: none;
    }
    &__text-mobile {
      display: block;
      font-size: 15px;
      line-height: 24px;
      padding: 10px;
    }
    &__items {
      display: block;
    }
    &__elements {
      flex-direction: column;
      padding-top: 20px;
    }
    &__img {
      display: flex;
      align-items: center;
      img {
        object-fit: cover;
        object-position: right;
      }
    }
    &__element-1 {
      width: 100%;
      img {
        object-fit: cover;
      }
    }

    &__element-2 {
      width: 100%;
      object-fit: cover;
    }
    .swiper-button-next {
      transform: translateX(-50%);
      left: 50%;
      margin-left: 80px;
    }
    .swiper-button-prev {
      transform: translateX(-50%);
      left: 50%;
      margin-left: -80px;
    }

    .swiper-pagination-fraction {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .walls {
    padding-top: 30px;
    .carousel {
      &__item {
        flex: 1 0 260px;
      }
      &__btn-prev,
      &__btn-next {
        display: none;
      }
    }
  }
  .complexes {
    .carousel {
      &__btn-prev,
      &__btn-next {
        display: none;
      }
    }
  }
  .weightlifting {
    padding-top: 0;
    .carousel {
      &__btn-prev,
      &__btn-next {
        display: none;
      }
    }
  }

  .catalogs {
    padding-top: 30px;
    &__item {
      flex: 0 1 300px;
    }
  }
  .about {
    .container {
      display: flex;
      flex-direction: column;
    }
    &__elements {
      order: 1;
    }
    &__element:nth-child(2) {
      display: none;
    }
    &__items {
      order: 3;
    }
    &____description {
      order: 2;
    }
    &__specifics {
      order: 4;
      display: block;
    }

    .items-about {
      padding-top: 20px;
      &__item {
        flex: 0 1 300px;
      }
    }
    &__link {
      display: none;
    }
    .dots {
      width: 100%;
      justify-content: space-between;
      .dot {
        img {
          object-fit: cover;
        }
      }
    }
  }
  .deliverypay {
    .container {
      background-color: #f2f3f4;
    }
    &__items {
      flex-wrap: wrap;
      padding: 0;
      justify-content: center;
    }
    &__item {
      outline: 2px dashed rgb(110, 114, 132);
      flex: 0 1 300px;
      padding: 55px 30px 60px 30px;
      background-color: #fff;
    }
  }
  .subscribe {
    &__items {
      flex-wrap: wrap;
    }
    &__item {
      flex: 0 1 100%;
    }
    &__input {
      flex: 0 1 300px;
    }
    &__text {
      padding-top: 20px;
    }
    &__btn {
      width: 300px;
    }
    &__form {
      padding-top: 30px;
    }
  }
  .footer {
    &__top {
      display: flex;
      justify-content: center;
    }
    &__items {
      padding-top: 60px;
    }
    &__title {
      text-align: center;
    }
    &__list {
      text-align: center;
    }
    .item-footer-1 {
      text-align: center;
      order: 3;
    }
    .item-footer-2 {
      order: 1;
      &__body {
        flex-direction: column;
      }
    }
    .item-footer-3 {
      order: 2;
    }
    .social-footer__elements {
      justify-content: center;
    }
    .bottom-footer {
      &__items {
        justify-content: center;
      }
      &__item:nth-child(1) {
        display: none;
      }
    }
  }
}
