.weightlifting {
  padding-top: 60px;
  .container {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: -75px;
      top: 0;
      bottom: 0;
      right: -75px;
      width: calc(100% + 150px);
      outline: 2px dashed rgb(110, 114, 132);
    }
  }
  &__title {
    color: rgb(54, 56, 63);
    font-size: 31px;
    font-weight: 700;
    line-height: 38px;
    padding-bottom: 20px;
    padding-left: 15px;
  }
  .carousel {
    &__img {
      outline: 1px dashed rgb(110, 114, 132);
    }
  }
}
